<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS • TodoMVC</title>
  <link rel="stylesheet" href="../bower_components/todomvc-common/base.css">
  <script src="../bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="todomvc" ng-controller="TodoCtrl">
<section id="todoapp">
  <header id="header">
    <h1>todos</h1>

    <form id="todo-form" ng-submit="addTodo()">
      <input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="newTodo">
    </form>
  </header>
  <section id="main" ng-show="todos.length">
    <input id="toggle-all" type="checkbox" ng-model="allCompleted" ng-click="markAll(!allCompleted)">
    <label for="toggle-all" >Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="todo in todos" ng-class="{ completed: todo.completed }">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed">
          <label>{{ todo.title }}</label>
          <button class="destroy" ng-click="removeTodo(todo)"></button>
        </div>
        <form>
          <input class="edit">
        </form>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="todos.length">
    <span id="todo-count"><strong>{{ activeCount }}</strong>
      <ng-pluralize count="activeCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a class="selected" href="">All</a>
      </li>
      <li>
        <a href="">Active</a>
      </li>
      <li>
        <a href="">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="removeCompletedTodos()" ng-show="completedCount">Clear completed ({{ completedCount }})</button>
  </footer>
</section>
</body>
</html>
